
<form #registrationForm="ngForm">
 
    <div class="row">
    <p>
      <label for="firstName">First Name :    </label>
      <input type="text" id="firstName" name="firstName" ngModel>
    </p>
   
    <p>
      <label for="lastName">Last Name :</label>
      <input type="text" id="lastName" name="lastName" ngModel>
    </p>
</div>
    <p>
        <label for="employeeNo">Employee No :</label>
        <input type="text" id="employeeNo" name="employeeNo" ngModel>
    </p>
    <p>
        <label for="totalGems">Tota Gems :</label>
        <input type="text" id="totalGems" name="totalGems" ngModel>
    </p>
    <p>
        <label for="reason">Reason :</label>
        <input type="text" id="reason" name="reason" ngModel>
    </p>
    <p>
        <label for="email">Email :</label>
        <input type="text" id="email" name="email" ngModel>
    </p>
    
   
      
    <p>
      <button type="button" (click)="onSubmit(registrationForm)">Register</button>
    </p>

    <div> Employee Details</div>
    
<div class='panel panel-primary' style="border:1px">
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Enployee No</th>
                        <th>Total Gems</th>
                        <th>Reason</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of registrationDetails;">
                        <td> {{detail.firstName}}</td>
                        <td> {{detail.lastName}}</td>
                        <td> {{detail.employeeNo}}</td>
                        <td> {{detail.totalGems}}</td>
                        <td> {{detail.reason}}</td>
                        <td> {{detail.email}}</td>
                        <td><button type="button" (click)='deleteReg(detail.id)'>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
   
  </form>
